<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @puppy.name %>
</p>

<p>
  <b>Breed:</b>
  <%= @puppy.breed %>
</p>

<p>
  <b>Playtime:</b>
  <% if @puppy.playtime == true %>
		Yes
	<% else %>
		No
	<% end %>
</p>


<%= link_to 'Edit', edit_puppy_path(@puppy) %> |
<%= link_to 'Back', puppies_path %>
